.container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
body{
    background-color: rgba(145, 145, 145, 0.1);
}
.text-center{
    text-align: center;
}
.site-title{
    background: rgba(238, 73, 103, 14%);
    padding: 1.2rem 0;
    font-size: 1.4rem;
    color: #434343;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
}
.header-wrapper img{
    width: 11.6rem;
}
.header-wrapper ul{
    display: flex;
    gap: 2.8rem;
    font-size: 1em;
}
.header-wrapper li:nth-child(4){
    margin-right: 5.5rem;
}
.header-wrapper a{
    color: #434343;
}
.nav-burger {
    display: none;
    cursor: pointer;
}
.nav-burger  div {
    width: 33px;
    height: 2px;
    margin-top: 0.5rem;
    background: black;
    transition: transform 0.6s ease;
}
.home-section-1{
    position: relative;
    background-image: url(../img/background-img/background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 42rem;
}
.site-btn{
    display: flex;
}
.site-btn button{
    max-width: 45%;
    padding: 0.5rem 2rem;
    background-color: #EE4967;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    margin: 4.6rem auto;
    cursor: pointer;
}
.site-btn button a{
    font-size: 1rem;
    color: #fff;
}
.home-section-1 h1{
    font-size: 3em;
    color: #434343;
    text-transform: uppercase;
}
.chat{
    display: flex;
    flex-direction: row-reverse;
    margin: 18.5rem 1rem 0 0;
    cursor: pointer;
}
.home-section-2 strong{
    color: #EE4967;
}
.home-section-2 h3{
    margin: 2rem auto;
    font-size: 1em;
}
.home-services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 6.8rem;
}
.round{
    display: flex;
    justify-content: center;
    background-color: #EE4967;
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    padding: 0.5rem;
    border: 10px solid white;
    margin-bottom: -3rem;
    z-index: 3;
    box-shadow: 0px 3px 6px #00000029;
}
.home-services a{
    background-color: #EE4967;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
}
.health{
    display: flex;
    background: #FFFFFF;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
.services-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-wrapper{
    display: flex;
    justify-content: center;
    gap: 6.875rem;
    margin: 3.4rem auto 7.8rem auto;
}
.section-3-wrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-wrapper img{
    background-color: #EE4967;
    padding: 0.5rem;
    height: 5rem;
    width: 5rem;
    margin-bottom: 2.5rem;
}
.section-4-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 7rem;
}
.home-section-4 h3{
    font-size: 1.2rem;
    margin: 2rem auto;
}
.user-comments{
    background-color: white;
    padding: 1.2rem 1rem;
    width: 24.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-4-wrapper p{
    margin-top: 1.8rem;
    font-size: 1.3rem;
}
.avatar{
    display: flex;
    gap: 1.7rem;
    margin-top: 2rem;
}
.stars{
    width: 7.5rem;
}
footer{
    background-color: #EE4967;
    border: 1px solid #707070;
    padding: 4.8em 0 1.18em 0;
}
.footer-wrapper{
    display: flex;
    gap: 2.5rem;
}
.footer-wrapper a, .footer-wrapper{
    color: #fff;
}
.footer-wrapper li{
    margin-top: 0.6rem;
    font-size: 0.875em;
}
.media-links{
    display: flex;
    gap: 1.9rem;
}
.footer-left-div{
    margin-right: 8.75rem;
}
.footer-left-div form{
    position: relative;
    margin: 1.5em 0 0 0;
}
.footer-left-div form input{
    border-radius: 6px;
    padding: 1em;
}
.footer-left-div form button{
    position: absolute;
    left: 50%;
    top: 25%;
    cursor: pointer;
}
.site-logo{
    margin-top: 4.3rem;
    width: 11.6rem;
}
.appstore-logo{
    margin-top: 5.6rem;
    cursor: pointer;
}
.footer-right-div ul li:nth-child(6){
    margin-top: 2.5rem;
}
@media (max-width: 480px){
    .footer-wrapper{
        flex-direction: column;
    }
    .header-wrapper nav{
        display: none
    }
    .nav-burger{
        display: inline-block;
    }
    .list, .nav-text, .search{
        flex: 50%;
    }
    .section-4-wrapper, .section-3-wrapper, .home-services{
        flex-direction: column;
    }
    .arrow{
        transform: rotate(90deg);
    }
}